<div class="contents row">
  <p><%= @nickname %>さんの投稿一覧</p>
  <% @tweets.each do |tweet| %>
  <%# 同じディレクトリ内にないためどのディレクトリ名から指定する %>
    <%= render partial:"tweets/tweet", locals: {tweet: tweet}%>
  <% end %>
</div>
